*{
    margin: 0;
    padding: 0;
  }
  html{
    font-size: 62.5%;
  }
  body{
    

    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
  a{ 
   text-decoration: none; 
  }
  h1{
    color:rgba(145, 16, 16, 0.993);
    font-family: 'Montserrat',sans-serif;
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: bold;

  }

  